# Ignore .env files
*.env

# Ignore pihole files
pihole/config/
pihole/dnsmasq.d/

# Ignore Postgres data
postgres/data/

# Ignore Portainer data
portainer/data/

# Ignore Nextcloud data
nextcloud/data/

# Ignore uptime-kuma data
uptime-kuma/data/

# Ignore crafty data
crafty/data/
crafty/logs/
crafty/servers/
crafty/config/
crafty/import/
